<div class="container">
<a href="/static">
  <div class="col-lg-4">
    <h1>Static Data Sets</h1>
    <h1><span class="glyphicon glyphicon-signal"></span></h1>
    <h5>This is where static graphs live.</h5>
    <p class="centered-col-text">
    </p>
  </div>
</a>
<a href="/dynamic">
  <div class="col-lg-4 left-divider">
    <h1>Dynamic Data Sets</h1>
    <h1><span class="glyphicon glyphicon-tasks"></span></h1>
    <h5>There be dynamic data here.</h5>
  </div>
</a>
<a href="/input">
  <div class="col-lg-4 left-divider">
    <h1>User Input Data</h1>
    <h1><span class="glyphicon glyphicon-user"></span></h1>
    <h5>You do the work.</h5>
  </div>
</div>
</a>
