<div class="container">
  <div class="col-lg-6 col-lg-offset-3">
    <h1>Data We Pulled from Wikipedia</h1>
    <p>Here, we're reading data from wikipedia's article on "pizza". Go ahead and visit <a href="/input">our user input section</a> to try your own wikipedia article!</p>
    <%= @result %>
  </div>
</div>
